.header {
  font-size: 28px;
  min-height: 500px;
  margin: 0 auto;
  background-image: url(/src/images/phone-book.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:300px;
}
